*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("../Img/animals4.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.registration-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background: rgba(56, 61, 62, 0.54);
    padding: 25px;
    border-radius: 20px;
}

.registration-form h1{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    color: wheat;
}

.registration-form p{
    font-size: 20px;
    margin: 15px 0;
    color: wheat;
    text-decoration: dashed;
}

.registration-form input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.registration-form button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    background-color: dimgray;
    cursor: pointer;
}

.registration-form button:hover{
    color: red;
    background-color: cyan;
}
